.box-perfil, .informacion-perfil{
    border: 1px solid rgb(216, 216, 216) ;
    padding: 30px 30px ;
    box-shadow: 4px 4px 2px rgba(218, 218, 218, 0.973) ;
    color: white;
    background-color: #399683;
    border-radius: 15px;
}
.fondo-perfil{
    background-image: url('https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    border-radius: 15px 15px 0px 0px;
}
.foto-perfil{
    height: 200px;
    width: 200px;
    background-image: url("https://images.pexels.com/photos/3763188/pexels-photo-3763188.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border: 4px solid #04386a;
    border-radius: 50%;
    margin-top: -100px;
}
.date-perfil{
    padding-left: 50px;
}
.accordion-item{
    padding: 10px;
}
.accordion-flush .accordion-item .accordion-button{ 
    font-size: 24px;
    background-color: transparent;
    font-weight: bold;
    color: white;
}
.accordion-flush .accordion-item{
    background-color: transparent;
}
.datos-perfil{
    font-size: 20px;
}
.accordion-item {
    border: 1px solid #04386a;
}
.informacion-perfil .fa-solid{
    color: #04386a;
    padding-right: 15px;
}
.edit-perfil{
    padding: 15px;
    border: 1px solid #04386a;
    border-radius: 50%;
}
.edita-tu-perfil{
    background-color: transparent;
    border: 0px;
}

/* modal */

.modal-dialog {
    display: flex;
    height: 100vh;
    align-items: center;
    max-width: 60%;
}
.modal-content{
    border-radius: 10px;
    background-color: #399683;
    color: white;
}
.actualizar{
    background-color: #04386a;
    color: white;
}