* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: #edf5e1;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    background: -moz-radial-gradient(circle at 0% 0%, rgba(92, 187, 149, 1) 41%, rgba(5, 56, 107, 1) 100%);


    background: -webkit-radial-gradient(circle at 0% 0%, rgba(92, 187, 149, 1) 41%, rgba(5, 56, 107, 1) 100%);


    background: -o-radial-gradient(circle at 0% 0%, rgba(92, 187, 149, 1) 41%, rgba(5, 56, 107, 1) 100%);


    background: -ms-radial-gradient(circle at 0% 0%, rgba(92, 187, 149, 1) 41%, rgba(5, 56, 107, 1) 100%);


    background: radial-gradient(circle at 0% 0%, rgba(92, 187, 149, 1) 41%, rgba(5, 56, 107, 1) 100%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        padding: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        padding: 4rem 2rem;
    }
}